body {
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 50px;
    background-color: white;
    border-bottom: 1px solid #ebedef;
    position: fixed;
    top: 0px;
    z-index: 2;
}

* {
	box-sizing: border-box;
}

a:link {
    text-decoration: none;
    text-decoration: black;
  }

.cabecalho {
    width: 935px;
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}

.buttons {
    width: 140px;
    display: flex;
    justify-content: space-between;
}

ion-icon {
    font-size: 20px;
    color: black;
}

.home-logo {
    display: flex;
    justify-content: space-between;
    width: 140px;
}

.separador {
    height: 20px;
    border-right: 1px solid #ebedef;
}

.search-bar input[type=text] {
    text-align: center;
    background-color: #FAFAFA;
  }

.feed {
    display: flex;
    width: 935px;
    height: 3000px;
}

.left {
    width: 614px;
}

.stories-bar {
    display: flex;
    justify-content: flex-start;
    margin-top: 88px;
    height: 90px;
    background-color: blue;
    border: 1px solid #ebedef;
}

.story {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80px;
    background-color: white;
}

#image1 {
    width: 55px;
    position:absolute;
}

#image2 {
    width: 50px;
    position:relative;
}

p {
    text-align: center;
    font-size: 13px;
}

.posts {
    margin-top: 24px;
}

.post {
    background-color: white;
    margin-bottom: 60px;
}

.top {
    height: 50px;
    padding-left: 10px;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h3 {
    font-weight: bolder;
}

.profile {
    width: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile a {
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.image {
    height: 612px;
}

.bottom {
    height: 80px;
    background-color: white;
    padding: 10px;
}

.line1 {
    display: flex;
    justify-content: space-between;
}

.line2 {
    padding-top: 15px;
    display: flex;
}

h4 {
    padding-left: 10px;
}

.line2 h4 span {
    font-weight: bold;
}

.icons-left {
    width: 87px;
    display: flex;
    justify-content: space-between;
}